---
import Subtitle from "../Subtitle.astro";
import Cards from "./Component/cards.astro";
---
<section id="Proyects">
    <Subtitle text="Proyectos" />
    <div class="flex space-x-2 justify-left flex-wrap mb-10">
        <Cards title="Aval" description="asd" tags={['asddsa']} imageUrl="" />
        <Cards title="Fasic" description="dsa" tags={['asddsa']} imageUrl=""/>
        <Cards title="GSM Tech team" description="dsa" tags={['asddsa']} imageUrl=""/>
        <Cards title="Consultoria Integral Ferradas" description="ad" tags={['asddsa']} imageUrl=""/>
        <Cards title="Aberturas Leon" description="asd" tags={['asddsa']} imageUrl=""/>
    </div>
</section>