 .body{
    font-family: "Homer Simpson UI";
    background-image: url("./Img/Fondo.jpg");
    height: 100vh;
}

.Nombre h1{
    color: #e2e2e2;
    text-align: center;
    font-size: 3rem !important;
}

/* h1{
    margin: 10px;
    font-weight: 50;
} */

.Nombre h5{
    letter-spacing: 1rem;
    color: #e2e2e2;
    text-align: center;
    font-size: 2rem !important;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    vertical-align: baseline;
  }
  
  .tarjetas {
    max-width: 100%;
    width: 100%;
    display: block;
    object-fit: cover;
    object-position: center center;
    padding: 10px;
  }
  
  a {
    display: block;
    text-decoration: none;
    color: inherit;
    font-size: inherit;
  }
  
  video {
    max-width: 100%;
    width: 100%;
    display: block;
    object-fit: cover;
    object-position: center center;
  }
  
  p a {
    display: inline;
  }
  
  li {
    list-style-type: none;
  }
  
  table, tr, td {
    border-collapse: collapse;
    border-spacing: 0;
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  h1, h2, h3, h4, h5, h6, strong {
    -webkit-hyphens: auto;
            hyphens: auto;
    font-weight: inherit;
    font-size: inherit;
  }
  
body {
    font-size: 100%;  
    min-height: 100vh;
    -webkit-hyphens: auto;
            hyphens: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
  }
.carrousel {
    width: 100%;
    max-width: 120em;
    color: black;
    transition: all 0.6s ease;
    overflow: hidden;
  }
  
  .carrousel .grande {
    width: 500%;
    height: 85vh;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    color: black;
    transition: all 0.4s ease;
    border-radius: 1em;
    transition: all 0.9s ease;
    transform: translateX(0%);
  }
  
  .carrousel .tarjeta{
    width: calc( 100% / 5 - 2em);
    min-height: 10vh;
    color: black;
    transition: all 0.4s ease;
    
  }
  
  .carrousel .puntos {
    width: 100%;
    margin: 1em 0 0;
    padding: 0.4em;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
  }
  
  .carrousel .punto {
    width: .5em;
    height: .5em;
    margin: 1em 1em 0;
    color: black;
    transition: all 0.4s ease;
    border-radius: 1em;
    background-color:white;
    box-shadow: 0.6em 0.6em 1.2em gray, -0.6em -0.6em 1.2em gray;
  }
  
  .carrousel .punto.activo {
    background-color: lightblue;
  }

  .SobreMi{
    padding: 5%;
  }
  .SobreMi .Titulo{
    color: #e2e2e2;
    font-size: 50px;
  }

  .SobreMi .resumen{
    color: #e2e2e2;
    font-size: 25px;
  }

  .foto{
    object-fit: cover;
    border-radius: 10%;
    height: 100%;
    width: 91%;
  }

  .container{
    margin:10px !important;
    max-width: 100% !important;
  } 
  .listaTrabajos{
    color: #e2e2e2;
    font-size: 20px;
  }
  .proyectos .subtitulo{
    color: #e2e2e2;
  }
  .Experiencias .subtitulo{
    color: #e2e2e2;
  }

  .proyectos .logo{
    width: 30%;
  }
  .proyectos h6{
    color: #e2e2e2;
    font-size: 25px;
    margin-left: 2%;
  }

  .conocimientos img{
    width: 15%;
  }

  .Bio h2{
    color: #e2e2e2;
    font-size: 40px;
  }

  .Bio .formacion h3{
    color: #e2e2e2;
    font-size: 40px;
  }
  .Bio .formacion h6{
    color: #e2e2e2;
    font-size: 22px;
  }

  .Bio .formacion p{
    color: #e2e2e2;
    font-size: 16px;
  }

  .Contacto h2 {
    color: #e2e2e2;
    font-size: 40px;
  }