---
import Subtitle from "./Subtitle.astro";
---

<section id="About">
    <Subtitle text="Sobre Mi" />
    <h5>
        Soy un desarrollador Fullstack con experiencia en C#, JavaScript, .NET
        Core, Blazor, MVC, y Entity Framework. He trabajado con empresas como
        Movistar, AbinBev y Conmebol. Me considero activo, puntual y disfruto
        trabajar tanto de forma independiente como en equipo. Busco proyectos
        donde pueda seguir aprendiendo y desarrollándome profesionalmente.
    </h5>
</section>
