---
import Subtitle from "./Subtitle.astro";
---

<section id="Contact">
    <Subtitle text="Contactos" />
    <h5>Email: <span class="font-bold"> danydf1997@gmail.com</span></h5>
    <h5>Linkedin: asdsadasdsadn</h5>
</section>