---
import Info from "./Info.astro";
import Subtitle from "./Subtitle.astro";
---

<section id="education">
    <Subtitle text="Educacion academica" />
    <div class="flex flex-col">
        <div class="relative pl-6 border-l-2 border-cyan-500/30 max-w-2xl w-full just">
            <Info 
            company="Técnico superior en programación" 
            date="Graduado en 2024" 
            task={["Universidad Tecnologica Nacional"]}
            />

            <Info 
            company="Secundario Bachiller en Ciencias Sociales" 
            date="Graduado en 2015" 
            task={["Instituto Glaciar Perito Moreno"]}
            />
        </div>
</section>