---
import Subtitle from "./Subtitle.astro";
---

<section id="education">
    <Subtitle text="Educacion academica" />
    <h5>Técnico superior en programación</h5>
    <p>Universidad Tecnologica Nacional | graduado 2024</p>
    
    <h5>Secundario Bachiller en Ciencias Sociales</h5>
    <p>Instituto Glaciar Perito Moreno | Graduado en 2015</p>
</section>