---
import Info from "./Info.astro";
import Subtitle from "./Subtitle.astro";

---

<section id="experiencia" class="mb-10">

    <Subtitle text="Experiencia" />
    <div class="flex flex-col">
        <div class="relative pl-6 border-l-2 border-cyan-500/30 max-w-2xl w-full just">
            <Info 
            company="Grupo Amedia" 
            date="abril 2022 - Actualidad" 
            task={["Mantenimiento evolutivo y correctivo de la plataforma SidePro",
                   "Desarrollo de nuevas funcionalidades con C# .NET Core y Entity Framework",
                   "Implementación de mejoras de rendimiento y optimización de consultas SQL Server",
                   "Integración de servicios REST y consumo de APIs externas",
                   "Colaboración en el diseño de interfaces utilizando Blazor y HTML/CSS",
                   "Gestión de versiones con Git en Bitbucket y participación en flujos de trabajo ágiles (Scrum)"
                ]}
            />

            <Info 
            company="Grupo San Miguel" 
            date="Agosto 2021 - abril 2022" 
            task={["Maquetación de interfaces web responsivas con HTML5, CSS3 y Flexbox/Grid",
                   "Desarrollo de componentes interactivos utilizando React.js y JavaScript vanilla",
                   "Optimización de performance en renderizado y carga de recursos"
                ]}
            />
        </div>
    </div>
</section>
